<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:replace="~{common/fragments/config::ConfigFragment}">
        <title layout:title-pattern="$CONTENT_TITLE - 뉴스 수집 시스템">뉴스 수집 시스템</title>
    </head>

    <body>
        <header th:replace="~{common/fragments/header_secure::HeaderFragment}"></header>

        <div style="display: flex; min-height: 100vh;">
            <div th:replace="~{common/fragments/sidebar::SidebarFragment}"></div>

            <main style="flex-grow: 1; padding: 24px;">
                <th:block layout:fragment="Content" />
            </main>
        </div>

        <footer th:replace="~{common/fragments/footer::FooterFragment}"></footer>
    </body>

</html>
